<!DOCTYPE html>
<html>
    <head>
    	<title>Terrarium.js</title>
        <%= stylesheet_link_tag "application" %>
        <%= csrf_meta_tags %>
        <script>
            var organismMindCodeLoaderPath = "<%= asset_path("OrganismMindCodeLoader.js") %>";
        </script>
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        <a href="https://github.com/AymericG/terrariumjs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
        <div class="header-wrap">
            <header class="fixed">
                <div class="social">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f011cb239e8df04"></script>
                    <!-- AddThis Button END -->
                </div>

                <h1>Terrarium.js</h1>
                <span>Improve your javascript skills and have fun!</span>
            </header>
        </div>
        <div class="fixed"><!-- pure laziness. could implement adaptive design -->
        
    		<%= yield %>

    		<footer>
                <a href="http://wiselabs.net">We can develop for you or mentor you</a> (web applications, asp.net or facebook apps development)
            </footer>
        </div>
        <%= javascript_include_tag "application" %>
        <script src="http://js.peerbind.com/jQuery.peerbind.js"></script>
    </body>
</html>
